* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.topnav {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-area: 1 / 2 / 2 / 3;
    border: solid black;
}

input {
    border-radius: 10px;
    border-style: none;
    background-color: #E2E8F0;
    padding-left: 10px;
}

input:focus {
    outline: none;
}